{% extends "restaurant/base_bootstrap.html" %}

{% block title %}My NutritionalInfo list{% endblock %}

{% block content %}
  <a id="create-button" class="btn btn-primary" href="{% url 'restaurant:nutritional_info_create'%}" role="button">Create</a>  
  <table class="table table-striped table-bordered backend" style="width:100%">
  <tr>
    <th>Name</th>
    <th>Unit</th>
	<th>Action</th>
  </tr>
  {% for nutr in nutritional_infos %}
  <tr>
    <td>{{ nutr.name }}</td>
    <td>{{nutr.unit}}</td>
    <td>
		<a href="{% url 'restaurant:nutritional_info_update' pk=nutr.pk %}"> Update </a> 
		|
		<a href="{% url 'restaurant:nutritional_info_delete' pk=nutr.pk %}"> Delete </a> 
	</td>
  </tr>
  {% endfor %}
  </table>
 
{% endblock %}
