{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" >
  <link href="{% static "css/base_boot.css" %}" rel="stylesheet">
</head>

<div id="header">
	<span class="logo"><a href="{% url 'restaurant:restaurant_homepage'%}">Backend</a>  </span>
	<span class="items"> <a href="{% url 'restaurant:nutritional_info_list'%}">NUTRITIONAL INFO</a> </span>
	<span class="items"> <a href="{% url 'restaurant:product_list'%}">PRODUCTS</a> </span>
	<span class="username">Welcome {{ request.user.username }} | <a href="/logout">Log-out</a></span>
</div>
<body>
  <div id="content">
	{% block content %}
    {% endblock %}
  </div>
</body>
</html>
