{% extends "restaurant/base_bootstrap.html" %}

{% block title %} Product {% endblock %}

{% block content %}
  <a id="create-button" class="btn btn-primary" href="{% url 'restaurant:product_create'%}" role="button">Create</a>  
  <table class="table table-striped table-bordered mydatatable" style="width:100%">
  <thead>
  <tr>
    <th>Name</th>
	<th>Nutritional values</th>
	<th>Status</th>
	<th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for prod in products %}
  <tr>
    <td>{{ prod.name }}</td>
	<td>
		<ul>
		 {% for pr in prod.nutritionalinfovalues_set.all %} 	
			<li>{{pr.nutritional_info.name}} ({{pr.nutritional_info.unit}}) : {{pr.values}}</li>
		 {% endfor %}
		</ul>
	</td>
	<td>{{ prod.status.upper}}</td>
    <td>
		<a href="{% url 'restaurant:product_update' pk=prod.pk %}"> Update </a> 
		|
		<a href="{% url 'restaurant:product_delete' pk=prod.pk %}"> Delete </a> 
	</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
 
{% endblock %}

{% block js_footer %}
{% endblock %}