{% extends "restaurant/base.html" %}

{% block title %}My NutritionalInfo list{% endblock %}

{% block content %}

<form method="post">{% csrf_token %}
{{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.name.errors }}
    <label for="{{ form.name.id_for_label }}">Name:</label>
    {{ form.name }}
</div>
<div class="fieldWrapper">
    {{ form.description.errors }}
    <label for="{{ form.description.id_for_label }}">Description:</label>
    {{ form.description }}
</div>
<div class="fieldWrapper">
    {{ form.nutritional_info.errors }}
    <label for="{{ form.nutritional_info.id_for_label }}">Nutritional info:</label>
    {{ form.nutritional_info }}
</div>
<div class="fieldWrapper">
    {{ form.status.errors }}
    <label for="{{ form.status.id_for_label }}">Status</label>
    {{ form.status }}
</div>
<input type="submit" value="Update">
</form>

{% endblock %}
