{% extends "restaurant/base_bootstrap.html" %}

{% block title %}My NutritionalInfo list{% endblock %}

{% block content %}

{% if messages %}
<ul class='messages'>
    {% for message in messages %}
    <li{% if message.tags %} class='{{ message.tags }}' role='alert'{% endif %}>{% if 'html_safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" style="border:thin solid #dee2e6; margin: 20px; padding:20px">{% csrf_token %}
    <div class="form-group">
    {{ form.as_p }}
	</div>
	<hr/>
	<div class="form-group">
	{{ form_set.management_form }}	
	{{ form_set.as_p }}
	</div>
	<input class="btn btn-primary" type="submit" value="Update">
</form>

{% endblock %}